<div style="margin-top: 50px;" class="container-fluid py-4 d-flex justify-content-center align-items-center">
    <form>
      <div class="input-group mb-3">
        <span><input type="text" [(ngModel)]="ruc" [ngModelOptions]="{standalone: true}" class="col-xs-4 rounded" style="width: 500px;" class="form-control" placeholder="Filtra por ruc" aria-label="Recipient's username" aria-describedby="basic-addon2"></span>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" style="background-color: rgb(25, 25, 43);" (click)="buscar()"  type="button">
            <img src="./assets/lupa.png" height="15px" alt="">
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-wrapper-scroll-y my-custom-scrollbar py-2"  style="max-height: 200px; overflow-y: auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">#RUC</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Razon social</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Actividad comercial</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Estado</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Obligado</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Tipo</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Establecimiento</th>
                <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Nombre comercial</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let ruc of personas.p_establecimientos">
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ ruc.numero_ruc }}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ ruc.razon_social }}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ ruc.actividad_economica }}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ruc.estado_contribuyente}}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ruc.obligado}}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ruc.tipo_contribuyente}}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ruc.numero_establecimiento}}</td>
                <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{ruc.nombre_fantasia_comercial}}</td>
            </tr>
        </tbody>
    </table>
</div>


