  <div style="margin-top: 50px;" class="container-fluid py-4 d-flex justify-content-center align-items-center">
     <form>
       <div class="input-group mb-3">
         <span><input type="text" [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}" style="width: 500px;" class="form-control" placeholder="Filtra por cedula" aria-label="Recipient's username" aria-describedby="basic-addon2"></span>
         <div class="input-group-append">
           <button class="btn btn-outline-primary" (click)="buscar()"  type="button">
             <img src="./assets/lupa.png" height="15px" alt="">
           </button>
         </div>
       </div>
     </form>
   </div>

   <div class="table-responsive py-2">
     <table class="table table-striped">
         <thead>
             <tr>
                 <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Cedula</th>
                 <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Nombres</th>
                 <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Fecha de nacimiento</th>
                 <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Nacionalidad</th>
                 <th style="text-align: center; background-color: rgb(25, 25, 43);;color: white;">Direccion</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let es of personas">
                 <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.cedula}}</td>
                 <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.persona}}</td>
                 <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.f_nacimiento}}</td>
                 <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.nacionalidad}}</td>
                 <td style="text-align: center; color: rgb(25, 25, 43); background-color: white;">{{es.value.direccion}}</td>
             </tr>
         </tbody>
     </table>
 </div>
 