<div style="margin-top: 50px;" class="container-fluid py-4 d-flex justify-content-center align-items-center">
    <form>
      <div class="input-group mb-3" style="width: 500px;">
        <input style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;" type="text" [(ngModel)]="nombre_empresa" [ngModelOptions]="{standalone: true}" (keyup)="buscarPorNombre()" class="form-control" placeholder="Acepta empresas por su nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button class="btn btn-outline-primary" style="background-color:rgb(25, 25, 43);" (click)="buscarPorNombre()"  type="button">
            <img src="./assets/lupa.png" height="15px" alt="">
          </button>
      </div>
    </form>
  </div>





  <div class="table-wrapper-scroll-y my-custom-scrollbar py-2"  style="max-height: 200px; overflow-y: auto;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Ruc</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Email</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Direccion</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Empresa</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Ciudad</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Contrato</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Aceptar</th>
          <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Rechazar</th>
        </tr>
      </thead>  
      <tbody>
        <tr *ngFor="let so of solicitudes | paginate: { itemsPerPage: 10, currentPage: p }">
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{so.ruc}}</td>
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{so.email}}</td>
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{so.direccion}}</td>
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{so.nombre_empresa}}</td>
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{so.ciudad}}</td>
          <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: small;text-align: center; color: blue;"><a (click)=
            "exportarpdf(so.ruc,so.descripcion,so.email,so.telefono, 
            so.direccion,so.nombre_empresa,so.contacto,so.ciudad)" class="btn">
            <img src="./assets/pdf.png" height="18px" alt="">
          </a></td>
          <td style="text-align: center; color: green;"><a (click)=
            "aceptacion(so.idempresa,so.ruc,so.email,so.telefono, 
            so.direccion,so.nombre_empresa,so.contacto,so.fecha_ingreso,so.ciudad,
            so.password,so.idplan)" class="btn">
            <img src="./assets/accept.png" height="18px" alt="">
          </a></td>
          <td style="text-align: center; color: red;"><a (click)="rechazo(so.idempresa)" class="btn">
            <img src="./assets/decline.png" height="20px" alt="" >
          </a></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="container-fluid py-2 d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"  nextLabel="Siguiente"></pagination-controls>
</div>