<div class="container-fluid py-4">
    <h2 class="text-center">Cambio de credenciales de empresa</h2>
    <form class="row g-3">
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Nombre de empresa</span>
    <input type="text" class="form-control" [(ngModel)]="empresa.nombre" [ngModelOptions]="{standalone: true}" placeholder="Este nombre sera visible para los clientes" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  
  <div class="mb-3">
    <label for="basic-url" class="form-label">Ingrese url de imagenes</label>
    <div class="input-group">
      <span class="input-group-text" id="basic-addon3">https://example.com/logo.png</span>
      <input type="text" class="form-control" [(ngModel)]="empresa.imagen_logo" [ngModelOptions]="{standalone: true}" placeholder="Este logo sera visible para los clientes" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
    </div>
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">https://example.com/img.png</span>
    <input type="file" class="form-control" [(ngModel)]="empresa.imagen_home" [ngModelOptions]="{standalone: true}" placeholder="Esta imagen sera visible para los clientes" aria-label="Amount (to the nearest dollar)">
  </div>

  <button style="background-color: white;" (click)="crearInfo()"><img src="./assets/create.png" height="20px" alt=""></button>
</form>
</div>