<div class="container-fluid py-4">
<form class="row g-3">
    <div class="col-auto">
        <label class="visually-hidden">Email</label>
        <input [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" class="form-control" id="inputPassword2" placeholder="Email">
      </div>
    <div class="col-auto">
      <label  class="visually-hidden">Password</label>
      <input [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}"  class="form-control" id="inputPassword2" placeholder="Password">
      <button (click)="crear()">Crear</button>
    </div>
  </form>
</div>










<table class="table table-dark">
    <thead>
      <tr>
        <th>email</th>
        <th>password</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let user of usuarios">
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
      </tr>
    </tbody>
  </table>
