<style>    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 80%;
        max-width: 340px;
        display: flex;
    }
    
    h2 {
        text-align: center;
        color: rgb(10, 10, 87);
    }

    .form-container, img{
        text-align: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    label {
        color: rgb(10, 10, 87);;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
    
    input[type="submit"] {
        background-color: rgb(25, 25, 43);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: rgb(25, 25, 43);
    }
    
    .register-link,
    .login-link {
        margin-top: 10px;
        text-align: center;
    }
    
    .hidden {
        display: none;
    }

input{
    height: 40px;
}

</style>
<div class="container">
    <div class="form-container">
            <img src="./assets/cuenta.png"  height="50px"  />
 <form class="login-form" [formGroup]="empresaForm" (ngSubmit)="crearEmpresa()">
  <h2>Crear Cuenta</h2>
  <input placeholder="ruc" type="text" formControlName="ruc" required>
  <input placeholder="correo electronico" type="text" formControlName="email" required>
  <input placeholder="telefono" type="text" formControlName="telefono" required>
  <input placeholder="direccion" type="text" formControlName="direccion" required>
  <input placeholder="nombre de la empresa" type="text" formControlName="nombre_empresa"  required>
  <input placeholder="nombre de contacto" type="text" formControlName="contacto" required>
  <input placeholder="ciudad" type="text" formControlName="ciudad" required>
  <input placeholder="contraseña" type="password" formControlName="password" required>
  <input type="submit" value="Crear">
</form>   
    </div>
</div>

