<!-- app.component.html -->

<div class="container-fluid p-0">
    <div class="row m-0">
      <!-- Barra de navegación vertical con color de fondo personalizado -->
      <nav class="col-md-2 d-none d-md-block sidebar bg-custom">
        <div class="sidebar-sticky h-100">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link active" href=" ">
                Panel de autorizacion de clientes
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/aceptadas">
                Panel de clientes aceptados
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/categoria">
                Panel de categorias
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/tecnico">
                Panel de tecnicos
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/servicio">
                Panel de servicios
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/plan">
                Panel de planes
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/producto">
                Panel de productos
              </a>
            </li>
            <li class="nav-item">
              <a style="color: rgb(42, 42, 86);" class="nav-link" href="/contacto">
                Panel de contactos
              </a>
            </li>
            <!-- Agrega más opciones según sea necesario -->
          </ul>
        </div>
      </nav>
  
      <!-- Contenido principal con margen -->
      <main role="main" class="col-md-10 mt-3">
        <!-- Aquí va el contenido principal de tu aplicación Angular -->
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>