<div style="margin-top: 50px;" class="container-fluid py-4 d-flex justify-content-center align-items-center">
    <form>
      <div class="input-group mb-3" style="width: 500px;">
      <input style="font-family: Verdana, Geneva, Tahoma, sans-serif;" type="text" [(ngModel)]="nombre_empresa" [ngModelOptions]="{standalone: true}" (keyup)="buscarPorNombre()" class="form-control" placeholder="Busca empresas desactivadas" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <button class="btn btn-outline-primary" style="background-color:rgb(25, 25, 43);" (click)="buscarPorNombre()"  type="button">
            <img src="./assets/lupa.png" height="15px" alt="">
          </button>
      </div>
    </form>
  </div>
  
  
  
  
  
  
  
  
  
  <div class="table-wrapper-scroll-y my-custom-scrollbar py-2"  style="max-height: 200px; overflow-y: auto;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Ruc</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Email</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Ciudad</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Empresa</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Ingreso</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Plan</th>
            <th style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; background-color: rgb(25, 25, 43);;color: white;">Activar cliente</th>
          </tr>
        </thead>  
        <tbody>
          <tr *ngFor="let d of desactivados | paginate: { itemsPerPage: 10, currentPage: p }">
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.ruc}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.email}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.ciudad}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.nombre_empresa}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.fecha_ingreso}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: rgb(25, 25, 43); background-color: white;">{{d.descripcion}}</td>
            <td style="font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: center; color: green;"><a (click)=
              "activarcliente(d.idempresa,d.ruc,d.email,d.telefono, 
              d.direccion,d.nombre_empresa,d.contacto,d.fecha_ingreso,d.ciudad,
              d.password,d.idplan)" class="btn">
              <img src="./assets/offon.png" height="18px" alt="">
            </a></td>
          </tr>
        </tbody>
      </table>
  </div>
  <div class="container-fluid py-2 d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"  nextLabel="Siguiente"></pagination-controls>
  </div>
