<div class="container p-4">
    <form class="row g-3" (ngSubmit)="editar()">
        <div class="col-auto">
            <label
             class="visually-hidden">Contacto</label>
            <input type="text" class="form-control" [(ngModel)]="contacto.nombre" [ngModelOptions]="{standalone: true}"
             placeholder="Nombre de red social">
          </div>
          <div class="col-auto">
            <label
             class="visually-hidden">Link</label>
            <input type="text" class="form-control" [(ngModel)]="contacto.url" [ngModelOptions]="{standalone: true}"
             placeholder="Url para acceder a su perfil">
          </div>
        <div class="col-auto">
          <button type="submit" class="btn mb-3" style="border: none;"><img src="./assets/edit.png" height="22px" alt=""></button>
        </div>
      </form>
    </div>

